# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# PyCharm
*.iml
.idea/

# Kate
.*.kate-swp
.swp.*

#ignore folders/files
apt-cacher-ng/
dns/
dockerbridge/
flask/
hydro/
indigo/
nexus/
nginx-proxy/
oeclient/
postgres/
scripts/
user_data/
user_db/
openease_storage_concept.txt/
